.servAttent {
    background-color: $lightgray;
    padding-bottom: 100px;

    &__inner {
        background: #EBF0FF;
        border: 3px dotted $buttonBlue;
        border-radius: 20px;
        padding: 40px 180px 45px 180px;
    }

    &__title {
        @extend %servattent-title;
    }

    &__text {
        margin: 0;
        @extend %servattent-text;
    }
}